<button class="btn btn-primary" routerLink="/addProduct">Add</button>

<table class="table table-stripped">
    <tr>
        <td>Id</td>
        <td>Name</td>
        <td>Description</td>
        <td>Prix</td>
    </tr>

    <tr *ngFor="let p of products ">
        <td>{{p.id}}</td>
        <td>{{p.name}}</td>
        <td>{{p.description}}</td>
        <td>{{p.prixe}}</td>
        <td>
            <button class="btn btn-danger" (click)="deleteProduit(p.id)" >Delete</button>
            <button class="btn btn-primary" routerLink="/updateProduct/{{p.id}}">Update</button>
        </td>
    </tr>
</table>